<link rel="stylesheet" href="/css/home.css">
<div id="home-container">

    <section id="posts-container">
        <h4>Posts</h4>
        <%if(locals.user){%> <!-- because we are setting locals req.locals.user = req.user in passport config -->
            <form action="/posts/create" method="post">
                <textarea name="content" placeholder="What's in Your Mind ?" cols="30" rows="4" required></textarea>
                <input type="submit" value="Post">
            </form>
            <%}%>
            
            <div id="post-lists">
                <%for(post of posts){%>
                    <%-include('_post')-%>
                    <%}%>
            </div>
        </section>
        
        
        <section id="users-friends">
            <h4>Friends</h4>
            <%for(u of all_users){%>
                <p>
                    <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
                </p>
    <%}%>
</section>
</div>
