<h1>SignUp</h1>


<form action="create" method="post">
    <input type="text" name="name" placeholder="Enter Your Name">
    <input type="email" name="email" placeholder="E-Mail">
    <input type="password" name="password" placeholder="Enter password">
    <input type="password" name="confirm_password" placeholder="Enter password Again">
    <button type="submit">Submit</button>
</form>